.live-page {
  padding: 25px;
  background: #0b0e13;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 100px;
}

.stream-card {
  background: #0f1216;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 18px;
  position: relative;
  box-shadow: 0 0 10px rgba(255, 196, 0, 0.4); 
}


.stream-count {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #7f1d1d;
  color: white;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 10px;
}


.stream-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}


.stream-sub {
  color: #d1d5db;
  margin-bottom: 15px;
  font-size: 15px;
}


.stream-row {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #000;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #1f2937;
  margin-bottom: 5px;
}

.stream-quality {
  background: #dc2626;
  padding: 3px 8px;
  font-size: 13px;
  border-radius: 5px;
  color: white;
}


.stream-link {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}
.stream-link:hover {
  color: #3b82f6;
}


.stream-lang {
  margin-left: auto;
  color: #cbd5e1;
  font-size: 14px;
}

.player-wrapper {
  width: 100%;
  margin-top: 15px;
}

.player-wrapper iframe {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: 1px solid #1f2937;
}

.message{
  color: white;
}